<nav>
    <img src="assets/images/E-vazo_logo_v2.png" id="logo" alt="">

    <div class="menu-toggle">
        <i class="fa-solid fa-bars"></i>
    </div>

    <ul class="sidebar">

        <li>
            <a href="../index.html" data-tooltip="Accueil">
                <i class="fa-solid fa-house"></i>
                <span class="nav-text">Accueil</span>
            </a>
        </li>

        <li>
            <a href="pages/apropos.html" data-tooltip="À propos">
                <i class="fa-solid fa-user"></i>
                <span class="nav-text">À propos</span>
                
            </a>
        </li>

        <li>
            <a href="#" data-tooltip="Albums">
                <i class="fa-solid fa-compact-disc"></i>
                <span class="nav-text">Albums</span>
                
            </a>
        </li>

        <li>
            <a href="#" data-tooltip="Concerts">
                <i class="fa-solid fa-music"></i>
                <span class="nav-text">Concerts</span>

            </a>
        </li>

        <li>
            <a href="#" data-tooltip="Galerie">
                <i class="fa-solid fa-image"></i>
                <span class="nav-text">Galerie</span>
                
            </a>
        </li>

        <li>
            <a href="#" data-tooltip="Contact">
                <i class="fa-solid fa-envelope"></i>
                <span class="nav-text">Contact</span>
            </a>
        </li>

    </ul>
    

</nav>
